#파이썬 기초 연습 (2022-12-30)

대소 비교

In [ ]:
1<2
# 대소비교

True

In [ ]:
1<=1

True

In [ ]:
1>=2

False

and, not, not in

In [ ]:
1 and 0
# and는 교집합 개념

0

In [ ]:
not 1
# 참이 아니기 대문에 거짓

False

In [ ]:
1 not in [0, 2, 3, 4]
# 1이 리스트에 없기 때문에 참

True

In [ ]:
'a' in 'abc'
# abc에 a가 있기 때문에 참

True

if, else 시험점수 연습

In [ ]:
score = 59

if score > 90:
    print("A")
else:
    if score > 80:
        print("B")
    else:
      if score >70:
          print("C")
      else:
        if score > 60:
            print("D")
        else:
            print("F")
          
# if, else 함수에서는 공백을 어떻게 넣느냐를 잘 봐야 함

F

if, elif 시험점수 연습

In [ ]:
score = 71

if score > 90:
    print("A")
elif score > 80:
    print("B")
elif score >70:
    print("C")
elif score > 60:
    print("D")
elif score <= 60:
    print("F")
          
# if, elif에서는 같은 줄에 입력

C

try, except, else 연습

In [ ]:
try :
    1/3
except :
    print("분모가 0이 나왔음")
else :
    print("분모 이상없음")

# try에서 오류가 난다면 문자열이 출력되고 오류가 안나면 else구문에서 문자열이 출력

분모 이상없음

while, if, for 연습

In [ ]:
i = 0
while i < 10:
    i+=1
    print(i)

# while문을 이용해 i를 0+1부터 9+1까지 출력

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10):
  print(i)

# for문을 이용해서 0부터 9까지 출력

0
1
2
3
4
5
6
7
8
9

In [ ]:
j = 0
for i in range(10):
    j += i
    print(j)

# for문을 이용해 j를 0부터 i를 더해가면서 출력

0
1
3
6
10
15
21
28
36
45

In [ ]:
for i in range(5, 15, 2) :
  print(i, end = " ")
# for문을 이용해 5부터 13까지 2씩 증가하며 마지막에 공백으로 출력

5 7 9 11 13

함수 연습

In [6]:
def f(a):
    out = a/3
    return out

# 함수 a를 3으로 나눈 값을 지정

In [7]:
f(30)
# 이후로 자료가 날라갔습니다.

10.0

In [ ]:
div_3(30)